# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.wasm

# Build output
/bin/
/dist/

# Test
*.test
*.out
coverage.txt

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
vendor/

# CBS
memory.db
